/*------------------------------------*\
    #MEDIA
\*------------------------------------*/

/**
 * Place any image- and text-like content side-by-side, as per: 
 * stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code
 */
.media {
    @extend %cf;
    display: block;
}

    .media__img {
        float: left;
        margin-right: $base-spacing-unit;

        > img {
            display: block;
        }

        /**
         * Reversed image location (right instead of left). Extends `.media`.
         */
        .media--rev > & {
            float: right;
            margin-right: 0;
            margin-left: $base-spacing-unit;
        }

    }

    .media__body {
        overflow: hidden;

        &,
        > :last-child {
            margin-bottom: 0;
        }

    }
