/*------------------------------------*\
    #MEDIA
\*------------------------------------*/

$media-gutter:          $base-spacing-unit !default;
$media-gutter--small:   halve($media-gutter) !default;
$media-gutter--large:   double($media-gutter) !default;

$enable-media--small:   false !default;
$enable-media--large:   false !default;

/**
 * Place any image- and text-like content side-by-side, as per: 
 * stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code
 */
.#{$namespace}media,
%#{$namespace}media {
    @extend %cf;
    display: block;
}

    .#{$namespace}media__img,
    %#{$namespace}media__img {
        float: left;
        margin-right: $media-gutter;

        > img {
            display: block;
        }

        /**
         * Reversed image location (right instead of left). Extends `.media`.
         */
        .#{$namespace}media--rev > &,
        %#{$namespace}media--rev > & {
            float: right;
            margin-right: 0;
            margin-left: $media-gutter;
        }

    }

    .#{$namespace}media__body,
    %#{$namespace}media__body {
        overflow: hidden;

        &,
        > :last-child {
            margin-bottom: 0;
        }

    }





/**
 * Size variants.
 */

@if ($enable-media--small == true) {

    .#{$namespace}media--small,
    %#{$namespace}media--small {

        > .#{$namespace}media__img,
        > %#{$namespace}media__img {
            margin-right: $media-gutter--small;
        }

        &.#{$namespace}media--rev,
        &%#{$namespace}media--rev {

            > .#{$namespace}media__img,
            > %#{$namespace}media__img {
                margin-right: 0;
                margin-left:  $media-gutter--small;
            }

        }

    }

}

@if ($enable-media--large == true) {

    .#{$namespace}media--large,
    %#{$namespace}media--large {

        > .#{$namespace}media__img,
        > %#{$namespace}media__img {
            margin-right: $media-gutter--large;
        }

        &.#{$namespace}media--rev,
        &%#{$namespace}media--rev {

            > .media__img,
            > %media__img {
                margin-right: 0;
                margin-left:  $media-gutter--large;
            }

        }

    }

}





/**
 * Flush media objects have no space between the image- and text-content.
 */
.#{$namespace}media--flush,
%#{$namespace}media--flush {

    > .#{$namespace}media__img,
    > %#{$namespace}media__img {
        margin-right: 0;
        margin-left:  0;
    }

}
